{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "react",
        "stage-1"
    ],
    "plugins": ["transform-decorators-legacy", "transform-runtime", "transform-decorators"]
}
